.media-container, .media-container * {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.media-container, .media-container * {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* <===================================================================================> */
.media-container {
    display: inline-block;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 4px;
    overflow: hidden;
    vertical-align: top;
    background: rgb(107, 107, 107);
}

/* <===================================================================================> */
.media-box {
    border: 2px solid rgb(107, 107, 107);
    margin: 0px;
}

/* <===================================================================================> */
.volume-control .control {
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    /* background-color: rgba(255, 255, 255, 0.84); */
}

.volume-control .control:first-child {
    border-radius: 20%;
   
}

/* <===================================================================================> */

.record-video {
	min-height:2.1vw;
    background-image: url('https://localhost:8443/RTCPeerConnection_Ver3/images/anigif.gif');
    background-size:98.0%;
    background-position: relative;
    border: 0px solid rgb(107, 107, 107);
    margin-top: 0px;
    margin-bottom: -0.1vw;
}

.record-video::after {
	display:inline-block;
    font-size: 1.25vw;
    font-weight: bold;
    color: black;
    content: "請儲存錄影";
    margin-left: 60%;
    margin-top: 0.3vw;
    float: left;
}
/* <<<=============================================================================================>>> */

.stop-recording-video {
 background-image: url('https://localhost:8443/RTCPeerConnection_Ver3/images/anigif1A.gif');
	min-height:2.1vw;
    background-size:98.0%;
    background-position: relative;
    border: 0px solid rgb(107, 107, 107);
    margin-top: 0px;
    margin-bottom: -0.1vw;
}

.stop-recording-video::after {
	display:inline-block;
    font-size: 1.25vw;
    font-weight: bold;
    color: red;
    content: "錄影轉檔中";
    margin-left: 60%;
    margin-top: 0.3vw;
    float: left;
}

.stop-recording-video2 {
 background-image: url('https://localhost:8443/RTCPeerConnection_Ver3/images/anigif2A.gif');
	min-height:2.1vw;
    background-size:98.0%;
    background-position: relative;
    border: 0px solid rgb(107, 107, 107);
    margin-top: 0px;
    margin-bottom: -0.1vw;
}

.stop-recording-video2::after {
	display:inline-block;
    font-size: 1.25vw;
    font-weight: bold;
    color: cyan;
    content: "請儲存錄影";
    margin-left: 60%;
    margin-top: 0.3vw;
    float: left;
}

/* <<<=============================================================================================>>> */

.media-box video {
    width: 100%;
    vertical-align: top;
    object-fit: fill;
}