* {
    margin: auto;
    padding: 0px;
}

html, body {
	
	font: 15px verdana, Times New Roman, arial, helvetica, sans-serif, Microsoft JhengHei;
    background: #f4f9f4;
}

.panel {
    border: 1px solid #755339;
    border-radius: 5px;
    width:100%;
}

.g1 {
	background: linear-gradient(-90deg, #f0c209, #f09009, #f09409, #f0c209, #f09009, #f09409);
	-webkit-animation: gradientBG 10s ease infinite;
	animation: gradientBG 10s ease infinite;
	background-size: 300% 300%
}

.g2{
	background: linear-gradient(-90deg, #309419, #52b33d, #37c418, #309419, #52b33d, #37c418);
	-webkit-animation: gradientBG 10s ease infinite;
	animation: gradientBG 10s ease infinite;
	background-size: 300% 300%;
}

.message-area {
    height: 60%;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
}

.input-area {
    background: #0066ff;
}

.input-area input {
    margin: 0.6em 0em 0.5em 0.6em;
    font-size:17px;
    font: bold;
   
}

.text-field {
    border: 1px solid grey;
    padding: 0.2em;
    box-shadow: 0 0 5px #000000;
}



h1 {
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
}

#userName {
    width: 45%;
}

#message {
    min-width: 50%;
    max-width: 92%;
}

.statusOutput{
	background: #0078ae;
    text-align:center;
    color: #ffffff;
    border: 1px solid grey;
    padding: 0.2em;
    box-shadow: 0 0 5px #000000;
    width: 20%;
}