    body{/*頁面*/
		width:850px;/*寬度*/
		margin-right: auto;/*右外距自動判斷*/
		margin-left: auto;/*左外距自動判斷*/
        /*先設定一個寬度，然後在左右擠，因為若沒有指定會判別成上下左右都自動，
        從而達不到我要的效果*/
       /* 以下為margin的三種寫法
        margin:20px;(上下左右)
        margin:0px auto;(上下，左右)
        margin:20px 20px 20px 20px; (上、右、下、左(順時針))*/
		font-family:microsoft jhengHei;
        
	}
    header{/*頁首*/
    	background-color: #369;/*背景色彩*/
    	height:65px;/*高度*/
        border-radius:8px;/*圓角*/
        text-align: center;/*內容水平置中*/
        padding-top: 15px;/*上外距*/
    }
    header h1{/*頁首底下的標題1*/
		color:#fff;/*文字色彩*/
        margin: 0px;/*無外距*/
	}
	header small{/*頁首底下的標題1底下的small標籤*/
       color:#fff;/*文字色彩*/
       font-size: 12px;/*文字大小*/
       text-align: right;/*文字靠右*/
       /*display: inline-block;/*水平區塊方式呈現*/
	}
    nav{/*導覽*/
    	text-align:center;/*內容置中*/
        height:40px;/*高度*/
    }

    nav a{/*導覽區底下的文字超連結錨點*/
        text-decoration: none;/*取消連結底線*/
        display: inline-block;/*水平區塊顯示*/
        margin-left: 20px;/*左外距*/
        color:#693; /*文字色彩*/
        height:30px;/*高度*/
        padding-top:10px;/*上內距*/
        width:80px;/*寬度*/
        display: inline-block;/*水平區塊方式呈現*/
    }  

    nav a:hover{/*滑鼠滑過文字連結錨點*/
        color:#f90;/*文字色彩*/
        background: #669;
    }
    video{/*頁面上的視訊標籤*/
        width:100%;/*寬度*/
        display: block;/*區塊顯示*/
    }
    #left{/*id名稱為left的區塊*/
    	width:200px;/*寬度*/
    	height: auto;/*高度依內容自動判斷*/
    	float: left;/*浮動靠左*/
    }
    #left h2{/*id名稱為left的區塊底下的標題2*/
    	color:#963;/*文字色彩*/
    	border-bottom:1px dashed #666;
    	margin:0px;
    	margin-top:30px;
    }
    #left p{/*id名稱為left的區塊底下的段落*/
    	color:#663;/*文字色彩*/
    	font-size: 14px;/*文字大小*/
    	margin:0px;
    	margin-left:10px;
    }
    #right{/*id名稱為right的區塊*/
    	width:600px;/*寬度*/
    	height: auto;/*高度依內容自動判斷*/
    	float: right;/*浮動靠右*/
    }
    #right img{/*id名稱為right的區塊底下的影像*/
    	width:180px;/*寬度*/
    	height:200px;/*高度依內容自動判斷*/
    	float:left;/*浮動靠左*/
    	margin:10px;/*外距*/
    }
    #right form{/*id名稱為right的區塊底下的表單*/
    	margin-top:30px;/*上外距*/
    	width:550px;/*寬度*/
    	margin-left:5px;/*左外距*/
        color:#633;/*文字色彩*/
        font-size:14px;/*文字大小*/
        margin-bottom: 20px;/*下外距*/
    }

    footer{/*頁尾*/
    	clear:both;/*清除前區塊圍繞帶來的浮動效果*/
    	color:#39c;/*文字色彩*/
    	text-align: center;/*內容水平置中*/
    	margin-bottom: 15px;/*下外距 增加頁面下緣空間*/
    }
