<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="false">

	<display-name>IBM_emp_01MVC_Basic_css</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

<!-- 老師範例預備 -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

<!-- 我們專案共用的連線池 -->
	<resource-ref>
		<description>DB Connection for DA106G5</description>
		<res-ref-name>jdbc/DA106G5_DB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

<!-- 我們共用的狀態對應資料 -->
	<servlet>
		<servlet-name>InitData</servlet-name>
		<servlet-class>com.common.InitData</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitData</servlet-name>
		<url-pattern>/InitData</url-pattern>
	</servlet-mapping>
	

<!-- 戍乂責任區 開始-->

	<!-- 地標開始 -->
		<servlet>
			<servlet-name>LocationTest</servlet-name>
			<servlet-class>com.location.model.LocationTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>LocationTest</servlet-name>
			<url-pattern>/LocationTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>LocationServlet</servlet-name>
			<servlet-class>com.location.controller.LocationServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>LocationServlet</servlet-name>
			<url-pattern>/front_end/location/location.do</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>LocationServletAll</servlet-name>
			<servlet-class>com.location.controller.LocationServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>LocationServletAll</servlet-name>
			<url-pattern>/location/location.do</url-pattern>
		</servlet-mapping>
		
		
		<servlet>
			<servlet-name>DBGifReader4Location</servlet-name>
			<servlet-class>com.location.model.DBGifReader4Location</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DBGifReader4Location</servlet-name>
			<url-pattern>/DBGifReader4Location</url-pattern>
		</servlet-mapping>
	<!-- 地標結束 -->
	
	<!-- 地標檢舉開始 -->
		<servlet>
			<servlet-name>Loc_rptTest</servlet-name>
			<servlet-class>com.loc_rpt.model.Loc_rptTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Loc_rptTest</servlet-name>
			<url-pattern>/Loc_rptTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>Loc_rptServlet</servlet-name>
			<servlet-class>com.loc_rpt.controller.Loc_rptServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Loc_rptServlet</servlet-name>
			<url-pattern>/back_end/loc_rpt/loc_rpt.do</url-pattern>
		</servlet-mapping>

	
		<servlet>
			<servlet-name>Loc_rptServletAll</servlet-name>
			<servlet-class>com.loc_rpt.controller.Loc_rptServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Loc_rptServletAll</servlet-name>
			<url-pattern>/loc_rpt/loc_rpt.do</url-pattern>
		</servlet-mapping>
	<!-- 地標檢舉結束 -->
	
	<!-- 天氣開始 -->
		<servlet>
			<servlet-name>Weather_detailTest</servlet-name>
			<servlet-class>com.weather_detail.model.Weather_detailTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Weather_detailTest</servlet-name>
			<url-pattern>/Weather_detailTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>Weather_detailServlet</servlet-name>
			<servlet-class>com.weather_detail.controller.Weather_detailServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Weather_detailServlet</servlet-name>
			<url-pattern>/front_end/weather_detail/weather_detail.do</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>Weather_detailServletAll</servlet-name>
			<servlet-class>com.weather_detail.controller.Weather_detailServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Weather_detailServletAll</servlet-name>
			<url-pattern>/weather_detail/weather_detail.do</url-pattern>
		</servlet-mapping>
		
		
		<servlet>
			<servlet-name>DBGifReader4Weather</servlet-name>
			<servlet-class>com.weather.model.DBGifReader4Weather</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DBGifReader4Weather</servlet-name>
			<url-pattern>/DBGifReader4Weather</url-pattern>
		</servlet-mapping>
	<!-- 天氣結束 -->
	
	<!-- 按讚開始 -->
		<servlet>
			<servlet-name>ThumbTest</servlet-name>
			<servlet-class>com.thumb.model.ThumbTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ThumbTest</servlet-name>
			<url-pattern>/ThumbTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>ThumbServlet</servlet-name>
			<servlet-class>com.thumb.controller.ThumbServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ThumbServlet</servlet-name>
			<url-pattern>/front_end/thumb/thumb.do</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>ThumbServletAll</servlet-name>
			<servlet-class>com.thumb.controller.ThumbServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ThumbServletAll</servlet-name>
			<url-pattern>/thumb/thumb.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		    <description></description>
		    <display-name>ThumbAjaxResponse</display-name>
		    <servlet-name>ThumbAjaxResponse</servlet-name>
		    <servlet-class>com.thumb.controller.ThumbAjaxResponse</servlet-class>
		</servlet>
		<servlet-mapping>
		    <servlet-name>ThumbAjaxResponse</servlet-name>
		    <url-pattern>/front_end/thumb/ajaxResponse.do</url-pattern>
		</servlet-mapping>
	<!-- 按讚結束 -->
	
	<!-- meToo開始 -->
		<servlet>
			<servlet-name>MeTooTest</servlet-name>
			<servlet-class>com.metoo.model.MeTooTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>MeTooTest</servlet-name>
			<url-pattern>/MeTooTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>MeTooServlet</servlet-name>
			<servlet-class>com.metoo.controller.MeTooServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>MeTooServlet</servlet-name>
			<url-pattern>/front_end/metoo/metoo.do</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>MeTooServletAll</servlet-name>
			<servlet-class>com.metoo.controller.MeTooServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>MeTooServletAll</servlet-name>
			<url-pattern>/metoo/metoo.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
		    <description></description>
		    <display-name>MeTooAjaxResponse</display-name>
		    <servlet-name>MeTooAjaxResponse</servlet-name>
		    <servlet-class>com.meToo.controller.MeTooAjaxResponse</servlet-class>
		</servlet>
		<servlet-mapping>
		    <servlet-name>MeTooAjaxResponse</servlet-name>
		    <url-pattern>/front_end/meToo/ajaxResponse.do</url-pattern>
		</servlet-mapping>
	<!-- meToo結束 -->

	<!-- 留言開始 -->
		<servlet>
			<servlet-name>CmtTest</servlet-name>
			<servlet-class>com.cmt.model.CmtTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>CmtTest</servlet-name>
			<url-pattern>/CmtTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>CmtServlet</servlet-name>
			<servlet-class>com.cmt.controller.CmtServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>CmtServlet</servlet-name>
			<url-pattern>/front_end/cmt/cmt.do</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>CmtServletAll</servlet-name>
			<servlet-class>com.cmt.controller.CmtServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>CmtServletAll</servlet-name>
			<url-pattern>/cmt/cmt.do</url-pattern>
		</servlet-mapping>
	<!-- 留言結束 -->
	
	<!-- 留言檢舉開始 -->
		<servlet>
			<servlet-name>Cmt_rptTest</servlet-name>
			<servlet-class>com.cmt_rpt.model.Cmt_rptTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Cmt_rptTest</servlet-name>
			<url-pattern>/Cmt_rptTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>Cmt_rptServlet</servlet-name>
			<servlet-class>com.cmt_rpt.controller.Cmt_rptServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Cmt_rptServlet</servlet-name>
			<url-pattern>/back_end/cmt_rpt/cmt_rpt.do</url-pattern>
		</servlet-mapping>

	
		<servlet>
			<servlet-name>Cmt_rptServletAll</servlet-name>
			<servlet-class>com.cmt_rpt.controller.Cmt_rptServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Cmt_rptServletAll</servlet-name>
			<url-pattern>/cmt_rpt/cmt_rpt.do</url-pattern>
		</servlet-mapping>
	<!-- 留言檢舉結束 -->

<!-- 戍乂責任區結束 -->


<!-- 麥克責任區開始 -->
	<!-- 紀錄開始 -->
		<servlet>
			<servlet-name>RecordTest</servlet-name>
			<servlet-class>com.record.model.RecordTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>RecordTest</servlet-name>
			<url-pattern>/RecordTest</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>RecordServlet</servlet-name>
			<servlet-class>com.record.controller.RecordServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>RecordServlet</servlet-name>
			<url-pattern>/front_end/record/record.do</url-pattern>
		</servlet-mapping>
	<!-- 紀錄結束-->
		
		<servlet>
			<servlet-name>Rcd_rptServlet</servlet-name>
			<servlet-class>com.rcd_rpt.controller.Rcd_rptServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Rcd_rptServlet</servlet-name>
			<url-pattern>/back_end/rcd_rpt/rcd_rpt.do</url-pattern>
		</servlet-mapping>
			
		
		<servlet>
			<servlet-name>MemberServlet</servlet-name>
			<servlet-class>android.com.mb.controller.MemberServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>MemberServlet</servlet-name>
			<url-pattern>/android/member.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>DBGifReader4Path</servlet-name>
			<servlet-class>com.path.model.DBGifReader4Path</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DBGifReader4Path</servlet-name>
			<url-pattern>/DBGifReader4Path</url-pattern>
		</servlet-mapping>
<!-- 麥克責任區結束 -->

<!-- 昱盛責任區開始 -->

    <!-- 商城開始 -->
        <servlet>
            <servlet-name>ProductServlet</servlet-name>
            <servlet-class>com.product.controller.ProductServlet</servlet-class>
        </servlet>
            <servlet-mapping>
            <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
        </servlet-mapping>
        
         <servlet>
            <servlet-name>ShoppingServlet</servlet-name>
            <servlet-class>com.product.controller.ShoppingServlet</servlet-class>
        </servlet>
            <servlet-mapping>
            <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/product/ShoppingServlet</url-pattern>
        </servlet-mapping> 
       
     <!-- 商城結束 -->
<!-- 昱盛責任區結束 -->

<!-- 以文責任區開始 -->
<!-- 以文責任區結束 -->

<!--名軒責任區開始-->

	<!-- 會員開始 -->
	
		<servlet>
			<servlet-name>AndroidMemberServlet</servlet-name>
			<servlet-class>com.mb.controller.MemberServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AndroidMemberServlet</servlet-name>
			<url-pattern>/front_end/member/member.do</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>MemberPicReader</servlet-name>
			<servlet-class>com.mb.model.MemberPicReader</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>MemberPicReader</servlet-name>
			<url-pattern>/MemberPicReader</url-pattern>
		</servlet-mapping>
		
	<!-- 會員結束 -->
	
	<!-- 管理員開始 -->
	
		<servlet>
			<servlet-name>StaffServlet</servlet-name>
			<servlet-class>com.staff.controller.StaffServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>StaffServlet</servlet-name>
			<url-pattern>/back_end/staff/staff.do</url-pattern>
		</servlet-mapping>
	
	<!-- 管理員結束 -->
	
<!--名軒責任區結束-->

<!--偉誌責任區開始-->
	<!-- 揪團開始 -->
		<servlet>
			<servlet-name>GrouperTest</servlet-name>
			<servlet-class>com.grouper.model.GrouperTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GrouperTest</servlet-name>
			<url-pattern>/GrouperTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>GrouperServlet</servlet-name>
			<servlet-class>com.grouper.controller.GrouperServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>GrouperServlet</servlet-name>
			<url-pattern>/front_end/group/group.do</url-pattern>
		</servlet-mapping>
	
	
		
		<servlet>
			<servlet-name>DBGifReader4Grouper</servlet-name>
			<servlet-class>com.grouper.model.DBGifReader4Grouper</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DBGifReader4Grouper</servlet-name>
			<url-pattern>/DBGifReader4Grouper</url-pattern>
		</servlet-mapping>
	<!-- 揪團結束 -->
	<!-- 揪團檢舉開始 -->
		<servlet>
			<servlet-name>Group_rptTest</servlet-name>
			<servlet-class>com.group_rpt.model.Group_rptTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Group_rptTest</servlet-name>
			<url-pattern>/Group_rptTest</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>Group_rptServlet</servlet-name>
			<servlet-class>com.group_rpt.controller.Group_rptServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Group_rptServlet</servlet-name>
			<url-pattern>/front_end/group_rpt/group_rpt.do</url-pattern>
		</servlet-mapping>
	
	
		
		<servlet>
			<servlet-name>DBGifReader4Group_rpt</servlet-name>
			<servlet-class>com.group_rpt.model.DBGifReader4Group_rpt</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DBGifReader4Group_rpt</servlet-name>
			<url-pattern>/DBGifReader4Group_rpt</url-pattern>
		</servlet-mapping>
	<!-- 揪團檢舉結束 -->
	<!-- 揪團明細開始 -->
		<servlet>
			<servlet-name>Group_detailTest</servlet-name>
			<servlet-class>com.group_detail.model.Group_detailTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Group_detailTest</servlet-name>
			<url-pattern>/Group_detailTest</url-pattern>
		</servlet-mapping>
	
		<servlet>
			<servlet-name>Group_detailServlet</servlet-name>
			<servlet-class>com.group_detail.controller.Group_detailServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Group_detailServlet</servlet-name>
			<url-pattern>/front_end/group_detail/group_detail.do</url-pattern>
		</servlet-mapping>
	
	
		
		<servlet>
			<servlet-name>DBGifReader4Group_detail</servlet-name>
			<servlet-class>com.group_detail.model.DBGifReader4Group_detail</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DBGifReader4Group_detail</servlet-name>
			<url-pattern>/DBGifReader4Group_detail</url-pattern>
		</servlet-mapping>
	<!-- 揪團明細結束 -->
	<!-- 揪團關注開始 -->
		<servlet>
			<servlet-name>Group_followTest</servlet-name>
			<servlet-class>com.group_follow.model.Group__followTest</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Group_followTest</servlet-name>
			<url-pattern>/Group_followTest</url-pattern>
		</servlet-mapping>
	
		<servlet>
			<servlet-name>Group_followServlet</servlet-name>
			<servlet-class>com.group_follow.controller.Group_followServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Group_followServlet</servlet-name>
			<url-pattern>/front_end/group_follow/group_follow.do</url-pattern>
		</servlet-mapping>
	
	
		
		<servlet>
			<servlet-name>DBGifReader4Group_follow</servlet-name>
			<servlet-class>com.group_follow.model.DBGifReader4Group_follow</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>DBGifReader4Group_follow</servlet-name>
			<url-pattern>/DBGifReader4Group_follow</url-pattern>
		</servlet-mapping>
	<!-- 揪團關注結束 -->
<!--偉誌責任區結束-->

</web-app>