.btn{
    display:block;
    width:130px;
    padding: 5px 0;
    margin:5px;
    font-size: 18px;
    background-color: white;
    color:black;
    border: 2px orange solid;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.btn:hover{
    background-color: darkorange;
    color:blue;
    cursor: pointer;
}