.fig{
    float: left;
    width: auto;
	height:auto;
    background-color: rgba(128,220,128,1);
    margin: 0 20px; 
}

.fig-title{
    font-size:20px;
    padding: 5px;
    border-left: 10px blue solid;
}

.fig-img{
    margin: 0;
    height: 650px;
    width: auto; 
}
#fig-wrapper:after{
    content: "";
    display: block;
    clear: both;
}